<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Database</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Query</display-name>
    <servlet-name>Query</servlet-name>
    <servlet-class>servlet.Query</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Query</servlet-name>
    <url-pattern>/Query</url-pattern>
  </servlet-mapping>
  

<servlet>
    <description></description>
    <display-name>Query3</display-name>
    <servlet-name>Query3</servlet-name>
    <servlet-class>servlet.Query3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Query3</servlet-name>
    <url-pattern>/Query3</url-pattern>
  </servlet-mapping>

<servlet>
    <description></description>
    <display-name>Query11</display-name>
    <servlet-name>Query11</servlet-name>
    <servlet-class>servlet.Query11</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Query11</servlet-name>
    <url-pattern>/Query11</url-pattern>
  </servlet-mapping>


<servlet>
    <description></description>
    <display-name>Query12</display-name>
    <servlet-name>Query12</servlet-name>
    <servlet-class>servlet.Query12</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Query12</servlet-name>
    <url-pattern>/Query12</url-pattern>
  </servlet-mapping>



  <servlet>
    <description></description>
    <display-name>Upload</display-name>
    <servlet-name>Upload</servlet-name>
    <servlet-class>servlet.Upload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Upload</servlet-name>
    <url-pattern>/Upload</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>servlet.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Query8</display-name>
    <servlet-name>Query8</servlet-name>
    <servlet-class>servlet.Query8</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Query8</servlet-name>
    <url-pattern>/Query8</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FailureCauseQuery</display-name>
    <servlet-name>FailureCauseQuery</servlet-name>
    <servlet-class>servlet.FailureCauseQuery</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FailureCauseQuery</servlet-name>
    <url-pattern>/FailureCauseQuery</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>UniqueCauseCodesQuery</servlet-name>
    <servlet-class>servlet.UniqueCauseCodesQuery</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UniqueCauseCodesQuery</servlet-name>
    <url-pattern>/UniqueCauseCodesQuery</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>CountFailuresQuery</servlet-name>
    <servlet-class>servlet.CountFailuresQuery</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CountFailuresQuery</servlet-name>
    <url-pattern>/CountFailuresQuery</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Query9</servlet-name>
    <servlet-class>servlet.Query9</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Query9</servlet-name>
    <url-pattern>/Query9</url-pattern>
  </servlet-mapping>

    <servlet>
    <servlet-name>Registration</servlet-name>
    <servlet-class>servlet.Registration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registration</servlet-name>
    <url-pattern>/Registration</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UniqueFailureCountModel</servlet-name>
    <servlet-class>servlet.UniqueFailureCountModel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UniqueFailureCountModel</servlet-name>
    <url-pattern>/UniqueFailureCountModel</url-pattern>
  </servlet-mapping>

  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>
